<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="assets/login.css">
</head>

<style>

</style>
<body>
    
    <img src="/images/logo.jpg" alt="EDC Logo" />
    <br>
    <h1>EDC Attendance Tracker</h1>
    <br>
    <br>
    <div class="but">
        <button class="button-3" onclick="window.location.href='/auth/google'">Login</button>
    </div>
</body>
</html>
